.nav{
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100vw;
    transition: 0.5s ease-in-out;
    z-index: 10;
}

.scrolling{
    background-color: black;
}

.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav__logo{
    width: 200px;
}

.nav__avatar{
    width: 60px;
    margin-left: 20px;
    cursor: pointer;
}

.nav__right{
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.nav__right p{
    font-size: 30px;
    color: white;
}

.nav__right .MuiSvgIcon-root{
    font-size: 40px;
    color : rgb(182, 29, 18);
    margin-right: 5px;
    cursor: pointer;
}

.nav__rightBtn{
    color: white!important;
    background-color: green!important;
    font-weight: 800!important;
    padding: 10px 20px!important;
}

.nav__right a{
    text-decoration-line: none!important;
}

@media only screen and (max-width: 768px){
    .nav__logo{
        width: 100px;
    }

    .nav__avatar{
        width: 40px;
    }

    .nav__right .MuiSvgIcon-root{
        font-size: 30px;
    }

    .nav__right p{
        font-size: 20px;
    }
}