.genres{
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres button{
    color: white;
    background-color: rgb(95, 155, 4);
    font-weight: 800;
    height: 45px;
}

.genres .MuiFormControl-root{
    width: 200px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
}

.MuiInputBase-input{
    color: white!important;
}

.MuiSvgIcon-root{
    color: whitesmoke!important;
}

.disabled{
    color: rgb(37, 37, 37)!important;
}