.genres{
    display: flex;
    align-items: center;
    justify-content: center;
}

.genres button{
    color: white;
    background-color: rgb(95, 155, 4);
    font-weight: 800;
    margin-top: 24px!important;
    height: 45px;
}

.genres .MuiFormControl-root{
    width: 200px;
}

.MuiFormLabel-root{
    color: rgb(192, 85, 85)!important;
    font-weight: 800!important;
}

.MuiInputBase-input{
    color: white!important;
}

.MuiSelect-root{
    background-color: transparent!important;
}

.MuiInputLabel-formControl{
    top: 10px!important;
    left: 10px!important;
}

.MuiInputLabel-shrink{
    transform: translate(0, -2px) scale(0.75)!important;
}