.favorite{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.favorite__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.favorite__content h1{
    font-size: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px){
    .favorite__content h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 425px){
    .favorite__content h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
}